<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.

      const total_projects = parseInt('<%= @stats.total_projects %>')
      const open_projects = parseInt('<%= @stats.open_projects %>')
      const closed_projects = parseInt('<%= @stats.closed_projects %>')
      const total_assignments = parseInt('<%= @stats.total_assignments %>')
      const total_open_assignments = parseInt('<%= @stats.total_open_assignments %>')
      const open_assignments = parseInt('<%= @stats.open_assignments %>')
      const open_past_due_assignments = parseInt('<%= @stats.open_past_due_assignments %>')
      const total_closed_assignments = parseInt('<%= @stats.total_closed_assignments %>')
      const closed_assignments = parseInt('<%= @stats.closed_assignments %>')
      const closed_late_assignments = parseInt('<%= @stats.closed_late_assignments %>')
      const total_words = parseInt('<%= @stats.total_words %>')
      const total_pages = parseInt('<%= @stats.total_pages %>')

      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Open', open_assignments],
          ['Past Due', open_past_due_assignments],
          ['Submitted On Time', closed_assignments],
          ['Submitted Late', closed_late_assignments],
        ]);

        // Set chart options
        var options = {'title':'Assignments',
                        'width':400,
                        'height':300,          
                        slices: {
                          0: { color: 'darkblue' },
                          1: { color: 'darkred' },
                          2: { color: 'darkgreen' },
                          3: { color: 'brown' },
                        }};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Age', 'Weight'],
          [ 8,      12],
          [ 4,      5.5],
          [ 11,     14],
          [ 4,      5],
          [ 3,      3.5],
          [ 6.5,    7]
        ]);

        var options = {
          hAxis: {minValue: 0, maxValue: 15},
          vAxis: {minValue: 0, maxValue: 15},
          chartArea: {width:'50%'},
          trendlines: {
            0: {
              type: 'linear',
              showR2: true,
              visibleInLegend: true
            }
          }
        };

        var chartLinear = new google.visualization.ScatterChart(document.getElementById('chartLinear'));
        chartLinear.draw(data, options);

        options.trendlines[0].type = 'exponential';
        options.colors = ['#6F9654'];

        var chartExponential = new google.visualization.ScatterChart(document.getElementById('chartExponential'));
        chartExponential.draw(data, options);
      }
    </script>
  </head>

  <body>

        <div id="chart_div"></div>

    <!--Div that will hold the pie chart>

      <div id="chartLinear" style="height: 350px; width: 800px"></div>
    <div id="chartExponential" style="height: 350px; width: 800px"></div-->
  </body>
</html>

