<h1 class=blur-header>Confirmation of Assignment to be Added</h1>

<div class="container">
    <h2>Current Project: <%=@project.name%></h2>
    <p>Project Description: <%=@project.description%></p>
  <div class="callout left">

  <div>
    <h3>Current Assignment: <%=@assignment.name%></h3>
    <% if(@assignment.note == nil) || (@assignment.note == "")%>
      <p> Notes on Assignment: N/A</p>
    <% else %>
      <p> Notes on Assignment: <%=@assignment.note%></p>
    <% end %>
  </div>

  <div class="container-container center">
    <h4> Measures For Success</h4>
    <ul class="calendar-ul">
      <% if(@assignment.page_count_req == "") || (@assignment.page_count_req == nil) || (@assignment.page_count_req == "0") %>
        <li> Page Count: N/A</li>
      <% else %>
        <li> Page Count: <%=@assignment.page_count_req%></p>
      <% end %>
      <% if(@assignment.word_count_req == "") || (@assignment.word_count_req == nil) || (@assignment.word_count_req == "0") %>
        <li> Word Count: N/A</li>
      <% else %>
        <li> Word Count: <%=@assignment.word_count_req%></li>
      <% end %>
    </ul>
  </div>

</div>

<%= form_tag new_event_url do %>
  <%= submit_tag 'Add event' %>
<% end %>