<!DOCTYPE html>
<html>
<head>
  <title>Write On Time</title>
    <link rel="icon" type="image/x-icon" href="https://write-on-time.s3.amazonaws.com/logos/penIcon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript"></script>
  <script src="https://use.typekit.net/axs3axn.js"></script>
  <script>try{Typekit.load({ async : true });}catch(e){}</script>

</head>
<body class="scheduler-background">
  
  <nav class="custom-top-bar grid-x">
    <h1 class="large-11 medium-11 small-12 no-line-break"><a href="/dashboard"><img src="https://write-on-time.s3.amazonaws.com/logos/Write+On+Time+Logo+3.png" alt="image of typewriter"></h1>
    <section class="large-1 medium-1 small-1">
          <div class="header-text">  
            <ul class="calendar-ul dropdown" data-dropdown-menu>
              <li>
                <a href="#" class="nav">
                  <div class="one"></div>
                  <div class="two"></div>
                  <div class="three"></div>
                </a>
                <%- if current_user -%>
                  <ul class="menu selectWrapper">
                    <li class="selectWrapper-item"><%= link_to 'Dashboard', "/dashboard"%></li>
                    <li class="selectWrapper-item"><%= link_to 'All Projects', "/projects"%></li>
                    <li class="selectWrapper-item"><%= link_to 'Stats', "/stats"%></li>
                    <li class="selectWrapper-item"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                  </ul>
                <%- else -%>
                  <ul class="menu selectWrapper">
                    <li class="selectWrapper-item"><%= link_to 'Landing Page', "/"%></li>
                    <li class="selectWrapper-item"><%= link_to 'Sign In', new_user_session_path %></li>
                    <li class="selectWrapper-item"><%= link_to 'Sign Up', new_user_registration_path %></li>
                  </ul>
                <%- end -%>
              </li>
            </ul>
          </div>

    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %> blur-header">
      <%= value %>
    </div>
  <%- end -%>

  <div class="main-font">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
  <nav class="footer">
    <p class="footer-font">Deployed November 2022</p>
  </nav>
</html>

